OPENAI_API_KEY=
WANDB_API_KEY=
HF_TOKEN=

# TODO: 그냥 이번엔 서브 폴더별로 .env.example 및 .env 유지하는게
# 모노리포 단일 .env보다 더 이해가 빠를 것 같아요. 지난번에 단일 .env로 했더니
# 환경변수가 너무 많아져서 각자 관리하게 하는게 나을 거 같더라구요.
# 단, 각자 폴더에서 환경변수 파일 경로를 정확하게 지정해줘야겠죠.
